{%include 'admin_header.html'%}
<html>
<head>
<center><h1 style="padding-top: 20px;font-size: 28px;font-family: Algerian;"><i>ADD JOB DETAILS</i></h1></center>
</head>
<body>
 <div class="container" style="margin:0 auto;width: 80%;">
	{% if messages %}
              {% for i in messages %}
                <div class="alert alert-success">{{i}}</div>
              {% endfor %}
            {% endif %}
	<div class="row">
	<form method="post" enctype="multipart/form-data">{% csrf_token %}
	<div class="form-group">
		<label>Company Name:</label><br>
		<input type="text" style="width:265px; height:30px;" name="company_name"  class="form-control" ><br>
		<label>Job Title:</label><br>
		<input type="text" style="width:265px; height:30px;" name="job_title"  class="form-control" ><br>
		<label>Position:</label><br>
		<input type="text" style="width:265px; height:30px;" name="position"  class="form-control" ><br>
		<label>Experience:</label><br>
		<input type="text" style="width:265px; height:30px;" name="experience"  class="form-control" ><br>
		<label>Salary:</label><br>
		<input type="text" style="width:265px; height:30px;" name="salary"  class="form-control" ><br>
		<label>Qualification:</label><br>
		<input type="text" name="qualification" style="width:265px; height:30px;" class="form-control"><br>
		<label>Job Status</label><br>
		<select name="status" class="form-control">
			
		  <option value="">Select</option>

		  <option value="Open">Open</option>

		  <option value="Closed">Closed</option>

		</select><br>
		<label>Job Description:</label><br>
		<textarea class="form-control" name="description"></textarea><br>
		<input type="submit" value="Add Job Detail" class="btn btn-success">
	</form>
	</div>
 </div>
 </body>
</html>
{%include 'footer.html'%}