{%include 'admin_header.html'%}

<html>
<head>
<style>
table {
	font-family: times new roman;
	border-collapse: collapse;
	width: 100%;
}
td, th{
	border: 1px solid #dddddd;
	text-align: center;
	padding: 8px;
	}
</style>
</head>
<body>
<div class="container">
    <h1 style="padding-top: 50px;font-size: 28px;font-family: Algerian;padding-bottom:50px;"><center><i>View Applied Jobs</i></center></h1>
</div>
<table class="table table-bordered">
	<tr style="background: green;color: #FFF;">
		<th>Sno</th>
		<th>Company Name</th>
		<th>Job Title</th>
		<th>Position</th>
		<th>Applier Name</th>
		<th>Email</th>
		<th>Mobile</th>
		<th>Applied Date</th>
		<th>Job Status</th>

	</tr>
{% for i in detail %}
	<tr>
		<td>{{forloop.counter}}</td>
		<td>{{i.job_id.company_name}}</td>
		<td>{{i.job_id.job_title}}</td>
		<td>{{i.job_id.position}}</td>
		<td>{{i.user_id.name}}</td>
		<td>{{i.user_id.email}}</td>
		<td>{{i.user_id.phone_number}}</td>
		<td>{{i.applied_date}}</td>
		<td><a href="{% url 'applicant' pk=i.id %}" class="btn btn-info btn-xs"><i class="fa fa-eye"></i> Applicantion</a></td>
	</tr>
{% empty %}
	<tr>
		<td>No Jobs</td>
	</tr>
	{% endfor %}
</table>
</body>
</html>
{%include 'footer.html'%}