{% load static %}
<html style="background: transparent !important;">
<head>
</head>
<body style="overflow-x: hidden;background: url({% static 'images/3.jpg' %});">
  <div class="bg">
   <div class="container" >
    {% include 'menu.html' %}
    </div>
  </div>
<div class="wrapper fadeInDown">
  <div id="formContent">
    <div class="fadeIn first">
      <h3>Admin Login</h3>
    </div>
     {% if messages %}
          {% for i in messages %}
            <div class="alert alert-danger">{{i}}</div>
          {% endfor %}
        {% endif %}
    <form method="POST" action="{% url 'admin_login' %}" > {% csrf_token %}
      <input type="text" id="username" class="fadeIn second" name="uname" placeholder="Username" required="required">
      <input type="password" id="password" class="fadeIn second" name="psw" placeholder="Password" required="required">
       <input type="submit" class="fadeIn fourth" value="Admin Login">
    </form>
  </div>
</div>
</body>
</html>