{%include 'admin_header.html'%}

<html>
<head>
<style>
table {
	font-family: times new roman;
	border-collapse: collapse;
	width: 100%;
}
td, th{
	border: 1px solid #dddddd;
	text-align: center;
	padding: 8px;
	}
</style>
</head>
<body>
<div class="container" style="margin-left: auto;margin-right: auto;">
    <h1 style="padding-top: 50px;font-size: 28px;font-family: Algerian;padding-bottom:50px;"><center><i>Search Applicant</i></center></h1>
    <form method="post" style="margin-bottom: 30px;">{% csrf_token %}
    	<div class="row">
    	<div class="col-md-4">
            <select name="search" class="form-control" required="required">
                <option value="">Select Order</option>
                <option value="Discard">Discard</option>
                <option value="Keep for Future">Keep for Future</option>
                <option value="Insufficient Document">Insufficient Document</option>
                <option value="Call for Interview">Call for Interview</option>
                <option value="Offer without interview">Offer without interview</option>
            </select>
    	</div>
        <div class="col-md-4">
            <select name="order_job" class="form-control" required="required">
                <option value="">Select Sorting Order</option>
                <option value="bubble">Bubble Sort</option>
                <option value="insertion">Insertion Sort</option>
                
            </select>
        </div>
    	<div class="colmd-4">
    		<input type="submit" class="btn btn-info" value="Search Applicant">
    	</div>
    </div>
    </form>
    <table class="table table-bordered">
    <tr style="background: green;color: #FFF;">
        <th>Sno</th>
        <th>Job Title</th>
        <th>Position</th>
        <th>Applicant Name</th>
        <th>Email</th>
        <th>Date Received</th>
        <th>HR Officer</th>
        <th>Outcome</th>
        <th>Reason</th>
        <th>Date</th>
    </tr>
{% for i in answer %}
    <tr>
        <td>{{forloop.counter}}</td>
        <td>{{i.0}}</td>
        <td>{{i.1}}</td>
        <td>{{i.2}}</td>
        <td>{{i.3}}</td>
        <td>{{i.4}}</td>
        <td>{{i.5}}</td>
        <td>{{i.6}}</td>
        <td>{{i.7}}</td>
        <td>{{i.8}}</td>
        </tr>
{% empty %}
    <tr>
        <td>No Applicant</td>
    </tr>
    {% endfor %}
</table>
{% if answer %}
{% if b == 'bubble' %}
<h5 style="text-align: right;font-size:20px;color:green;">Algorithm used Bubble Sort Minimum execution time: {{time_execution}}</h5>
{% endif %}

{% if b == 'insertion' %}
<h5 style="text-align: right;font-size:20px;color:green;">Algorithm used Insertion Sort Minimum execution time: {{time_insertion_sort}}</h5>
{% endif %}
{% endif %}

</div>
</body>
</html>
{%include 'footer.html'%}